{% extends 'layout1.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0">Category List</h4>
      </div>
      <!-- end card header -->

      <div class="card-body">
        <div id="customerList">
          <div class="row g-4 mb-3">
            <div class="col-sm-auto">
             {# <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn"
{#              data-bs-target="#showModal">#}
{#              <i class="ri-add-line align-bottom me-1"></i> Add#}
{#            </button> #}
            </div>

            <div class="table-responsive table-card mt-3 mb-1">
              <table class="table align-middle table-nowrap" id="customerTable">
                <thead class="table-light">
                  <tr>
                    <th>
                     Mind Category ID
                    </th>
                    <th>Category Name</th>
                    <th>Action</th>
                  </tr>
                </thead>

                {% for mind in minds %}


                <tbody class="list form-check-all">
                  <tr>
                    <td>{{mind.id}}</td>
                    <td class="customer_name">{{mind.sub_cat}}</td>
                    <td>
                      {% if mind.sub_cat == 'Listen' %}
                      <div class="d-flex gap-2">
                        <div class="edit">
                          <a class="btn btn-sm btn-success edit-item-btn"
                            href="{{url_for('admin_view.mind_listen_page', mind_id=mind.id)}}">
                            View Listen</a>
                         {# <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal"
                            data-bs-target="#editModal{{mind.id}}">
                            Edit
                          </button>
                         
                        </div> 
                        <div class="remove">
                          <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{mind.id}}">
                            Remove
                          </button>
                        </div> #}
                      </div>
                      {% elif mind.sub_cat == 'Reflect' %}
                      <div class="d-flex gap-2">
                        <div class="edit">
                          <a class="btn btn-sm btn-success edit-item-btn"
                            href="{{url_for('admin_view.mind_reflect_page', mind_id=mind.id)}}">
                            View Reflect</a>
                          {#  
                          <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal"
                            data-bs-target="#editModal{{mind.id}}">
                            Edit
                          </button>
                        </div>
                        <div class="remove">
                          <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{mind.id}}">
                            Remove
                          </button>
                        </div> #}
                      </div>
                      {% endif %}
                    </td>
                  </tr>
                  <div class="modal fade" id="deleteModal{{mind.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="btn-close"></button>
                        </div>
                        <form method="POST" action="{{url_for('admin_create.delete_mind_category',mind_id=mind.id)}}">

                          <div class="modal-body">
                            <div class="mt-2 text-center">
                              <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                colors="primary:#f7b84b,secondary:#f06548"
                                style="width: 100px; height: 100px"></lord-icon>
                              <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you Sure ?</h4>
                                <p class="text-muted mx-4 mb-0">
                                  Are you Sure You want to Remove this Category ?
                                </p>
                              </div>
                            </div>
                            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                              <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">
                                Close
                              </button>
                              <button type="submit" class="btn w-sm btn-danger" id="delete-record">
                                Yes, Delete It!
                              </button>
                            </div>
                          </div>
                      </div>
                      </form>
                    </div>
                  </div>





                {#  <div class="modal fade" id="editModal{{mind.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header bg-light p-3">
                          <h5 class="modal-title" id="exampleModalLabel"></h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="close-modal"></button>
                        </div>
                        <form method="POST" enctype="multipart/form-data" action="{{url_for('admin_create.edit_mind_category',cat_id=mind.id)}}">
                          <div class="modal-body">

                            <div class="mb-3">
                              <label for="customername-field" class="form-label1">Category Name</label>
                              <input type="text" name="sub_cat" id="customername-field" value="{{mind.sub_cat}}"
                                class="form-control" placeholder="Enter Category Name" required />
                            </div>



                            <div class="modal-footer">
                              <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-success" id="add-btn">
                                  Update Category
                                </button>
                              </div>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>#}
                  {% endfor %}

                </tbody>
              </table>




              <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header bg-light p-3">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        id="close-modal"></button>
                    </div>
                    <form method="POST" action="{{url_for('admin_create.add_mind_category')}}">
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="customername-field" class="form-label1">Category Name</label>
                          <input type="text" name="sub_cat" id="customername-field" class="form-control"
                            placeholder="Enter Category Name" required />
                        </div>

                        <div class="modal-footer">
                          <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                              Close
                            </button>
                            <button type="submit" class="btn btn-success" id="add-btn">
                              Add Category
                            </button>
                          </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}